.casts {
  color: white;
  margin-top: 2rem;
  padding: 1rem;
}
.casts h2 {
  margin-bottom: 3rem;
}

.casts-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cast-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-detail img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.cast-detail img:hover,
.cast-detail img:active {
  transform: scale(1.1, 1.1);
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
