.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 1;
}
.transparent {
  background-color: transparent;
}
.not-transparent {
  background-color: #252422;
}

.navbar-icon {
  height: 20px;
  cursor: pointer;
  margin-right: 2rem;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #d90429;
  cursor: pointer;
}
