.button {
  padding: 1rem;
  width: 8rem;
  font-size: 16px;
  background-color: #2b2d42;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.button:hover,
.button:active {
  background-color: #d90429;
  color: #fff;
  transform: translateY(1px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 2;
}

.button:focus {
  outline: none;
}
